<div class="container">
  <div class="row">
    <div class="col-md-12">
<h2 class="mb-5 col-3 text-center text-color">ログイン</h2>
<h5 class="mt-5 mb-4 ml-4 col-4 text-center text-color">会員の方はこちらからログイン</h5>

　<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>


　<div class="field">
    <%= f.label :"メールアドレス", class: 'col-3' %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :"パスワード(6文字以上)", class: 'col-3' %>
    <% if @minimum_password_length %>
    <% end %>
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.label :"　", class: 'col-3' %>
    <%= f.submit "ログイン", class: 'btn btn-primary col-2' %>
  </div>
<% end %>

<h5 class="mt-5 mb-4 ml-4 col-4 text-center login-color">会員登録がお済みでない方</h5>
<div class="ml-5">
  <p><%= link_to "こちら", new_customer_registration_path, class: 'text-decolation' %>からログインしてください。</p>
</div>

  </div>
 </div>
</div>