  <div class="container order-index">
    <div class="row justify-content-center mt-4">
      <div class="col-10 row justify-content-between">
              <p class="mt-4 fs-2 bg-light col-2 text-center">注文履歴一覧</p>
        <div class="fs-2 col-2">

        </div>
      </div>
    </div>
    <div class="row justify-content-center mt-3">
      <div class="col-10">
            <table class="table table-hover">
                <thead class="bg-light">
                        <tr>
                          <th>購入日時</th>
                          <th>購入者</th>
                          <th>注文個数</th>
                          <th>注文ステータス</th>
                        </tr>
                    <tbody>
                          <% @orders.each do |order| %>
                          <% @order_details = OrderDetail.where(order_id: order.id) %>
                          <% @total_amount = 0 %>
                            <% @order_details.each do |order_detail| %>
                              <% @total_amount += order_detail.amount %>
                            <% end %>
                        <tr>
                          <td><%= link_to order.created_at.strftime("%Y年%-m月%-d日 %-H時%-M分"), admin_order_path(order.id) %></td>
                          <td><%= order.customer.last_name %><%= order.customer.first_name %></td>
                          <td><%= @total_amount %></td>
                          <td><%= order.order_status %></td>
                        </tr>
                          <% end %>
                    </tbody>
                </thead>
            </table>
      </div>
    </div>
  </div>