<body>
  <div class="container">
    <div class="row">
      <div class="col-7">
        <h4 class="mb-4 text-color col-4 text-center ml-5 pb-2 pt-2 rounded-pill">注文情報入力</h4>


          <%= form_with(model:@order, url: orders_confirm_path, local: true) do |f| %>
          <div class="field">
            <span class="font-weight-bold">支払い方法</span><br>
            <div class="form-check mt-3">
                <%= f.radio_button :payment_method,:クレジットカード,  checked: "checked" %>
                <%= f.label :payment_method, "クレジットカード" %>
                <br>
                <%= f.radio_button :payment_method, :銀行振込 %>
                <%= f.label :payment_method, "銀行振込" %>
            </div>
          </div>


          <div class="field">
            <span class="font-weight-bold">お届け先</span><br>
            <div class="radio-inline pl-3">
                <%= f.radio_button :address_option,0 %>
                <%= f.label :address_label, "ご自身の住所" %>
              <div class="pl-3">
                〒<%= current_customer.postal_code %>
                <%= current_customer.address %>
                </br>
                <%= current_customer.last_name %>
                <%= current_customer.first_name %>
              </div>
            </div>
            <div class="radio-inline pl-3">
                <%= f.radio_button :address_num, 1 %>
                <%= f.label :address_label, "選択済み住所から選択" %>
                <div class="pl-3">
                 <p class="ml-3"><%= f.select :address_box, options_for_select(@addresses.map do |ship|
                     ["〒" + ship.postal_code + "  " + ship.address + "  " + ship.name , ship.id]end) %></p>
                </div>
            </div>
          <div class="radio-inline pl-3">
            <%= f.radio_button :address_num,2 %>
            <%= f.label :address_label, "新しいお届け先" %>
            </br>
            <div class="pl-3">
              <%= f.label :post_code, "郵便番号" %>
              <%= f.text_field :new_post_code %>
              </br>
              <%= f.label :address, "住所" %>
              <%= f.text_field :new_address %>
              </br>
              <%= f.label :name, "宛名" %>
              <%= f.text_field :new_name %>
            </div>
          </div>
        </div>

          <div class="row justify-content-center">
            <%= f.submit "確認画面へ進む" , class: "btn btn-outline-dark col-3" %>
          </div>


          <% end %>

      </div>
    </div>
  </div>
</body>
