  <div class="container">
   <div class="row mb-2">
      <h4 class="mb-4 text-color col-3 text-center pt-4 rounded-pill">商品一覧(全<%= @items.count %>件)</h4>
    </div>
    
<div class="row row-cols-4">
    <div class="col">
      
    <% @items.each do |item| %>
        <%= link_to item_path(item) do %>
          <div class="card mb-4">
            <%= attachment_image_tag item,:image, size:"255x210" %>
          <div class="card-body">
            <td><%= item.name %></td>
            <td><%= item.price %>円</td>
        <% end %>  
          </div>
          </div>
    <% end %>
</div>
</div>
    
  <div class="text-center">
    <%= paginate @items %>
  </div>
 </div>
